.button {
    height: 28px;
    padding: 0 12px;
    border: none;
    border-radius: 12px;
    background-color: #4dabf7;
    color: white;
    font-size: 11px;
    font-weight: 600;
    box-shadow: 0 2px 8px rgba(77, 171, 247, 0.2);

    // &_image {
    //     width: 10px;
    //     height: 10px;
    //     vertical-align: middle;
    // }
    
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    
    transform: translateY(0);
    transition: all 0.1s ease-out;
    &:active {
        background-color: #339af0;
        transform: translateY(1.5px);
    }
}