@import '../../../styles/variables';

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    
    width: 100vw;
    box-sizing: border-box;
    height: 45px;
    padding: 0 $spacing-medium-mobile;
    
    background-color: #ffffff;
    box-shadow: 0 -1px 3px rgba(0, 0, 0, 0.1);

    @media screen and (min-width: $tablet) {
        height: 50px;
        padding: 0 $spacing-medium-tablet;
    }

    @media screen and (min-width: $desktop) {
        height: 55px;
        padding: 0 $spacing-medium-desktop;
    }
    
    &_icon {
        width: 20px;
        height: 20px;

        @media screen and (min-width: $tablet) {
            width: 22px;
            height: 22px;
        }

        @media screen and (min-width: $desktop) {
            width: 24px;
            height: 24px;
        }
    }
}

body {
    min-height: 100vh;
    margin: 0;
    padding-bottom: 45px;  // footer height

    @media screen and (min-width: $tablet) {
        padding-bottom: 50px;
    }

    @media screen and (min-width: $desktop) {
        padding-bottom: 55px;
    }
}
