@import '../../../styles/variables';

.header {
    height: 40px;

    &_logo {
        position: absolute;
        margin: 8px;
        top: 0;
        left: 0;
        width: 22px;
        height: 22px;

        @media screen and (min-width: $tablet) {
            width: 24px;
            height: 24px;
        }

        @media screen and (min-width: $desktop) {
            width: 26px;
            height: 26px;
        }
    }

    &_title {
        position: absolute;
        top: 0;
        left: 0;
        margin-top: 9px;
        margin-left: 38px;
        font-family: 'Noto Sans KR', sans-serif;
        font-size: $font-medium-mobile;
        font-weight: 700;

        @media screen and (min-width: $tablet) {
            font-size: $font-medium-tablet;
        }

        @media screen and (min-width: $desktop) {
            font-size: $font-medium-desktop;
        }
    }
}